main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfaf6;
}
.clip-custom {
clip-path: path(
  "M50 0 C200 20, 300 40, 350 120 C370 180, 320 240, 250 250 C150 260, 80 200, 30 150 C-10 100, 0 20, 50 0 Z"
);
}
.clip-custom-2 {
clip-path: path(
  "M20 30 C100 0, 280 0, 330 80 C360 150, 300 230, 200 240 C100 250, 30 180, 20 100 C10 70, 10 50, 20 30 Z"
);
}


@media (min-width: 768px) {
  /* INFO: Details section code  */
  .detailsSection {
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  .detailsSection img {
    height: clamp(190px, 20vw, 330px);
    width: clamp(170px, 19vw, 300px);
    border-radius: 10px;
    position: absolute;
    right: clamp(2rem, 15vw, 22.5rem);
  }

  .detailsSection .details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: clamp(2rem, 7vw + 5rem, 40rem);
    line-height: clamp(35px, 4vw, 50px);
  }

  .details h2 {
    margin-top: 0px;
    margin-bottom: 1rem;
  }

  /* INFO: days on trek info code  */

  .daysSection .dayBox {
    text-align: start;
  }

  .dayBox .imgWithDetail {
    flex-direction: row;
    text-align: start;
    gap: 20px;
  }

  .imgWithDetail .imgBox {
    height: clamp(150px, 20vw, 330px);
    width: clamp(380px, 50vw, 480px);
  }

  /* INFO: What make it special section styling  */
}
