main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfaf6;
}

/* INFO: First Section Code Starts here 👇 */



@media (min-width: 600px) {
  .firstSection img {
    margin-left: clamp(5rem, calc(5rem + 1vw), 110rem);
  }

  .bottomParagraph p {
    text-align: left;
  }
}

@media (min-width: 768px) {
  /* INFO: Details section code  */
  .detailsSection {
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }

  .detailsSection img {
    height: clamp(190px, 20vw, 330px);
    width: clamp(170px, 19vw, 300px);
    border-radius: 10px;
    position: absolute;
    right: clamp(2rem, 15vw, 22.5rem);
  }

  .detailsSection .details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: clamp(2rem, 7vw + 5rem, 40rem);
    line-height: clamp(35px, 4vw, 50px);
  }

  .details h2 {
    margin-top: 0px;
    margin-bottom: 1rem;
  }

  /* INFO: days on trek info code  */

  .daysSection .dayBox {
    text-align: start;
  }

  .dayBox .imgWithDetail {
    flex-direction: row;
    text-align: start;
    gap: 20px;
  }

  .imgWithDetail .imgBox {
    height: clamp(150px, 20vw, 330px);
    width: clamp(380px, 50vw, 480px);
  }

  /* INFO: What make it special section styling  */
}

@media (min-width: 992px) {
  .firstSection img {
    margin-left: clamp(10px, 40vw, 180px);
  }
}

@media (min-width: 1200px) {
  .firstSection img {
    margin-left: clamp(180px, 20vw, 350px);
  }
}

@media (min-width: 1500px) {
  .firstSection img {
    margin-left: clamp(350px, 60vw, 600px);
  }
}
