main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfaf6;
}



@media (min-width: 992px){
  .firstSection img{
    margin-left: clamp(10px, 40vw, 180px);
  }
}

@media (min-width: 1200px){
  .firstSection img{
    margin-left: clamp(180px, 20vw, 350px);
  }
}

@media (min-width: 1500px){
  .firstSection img{
    margin-left: clamp(350px, 60vw, 600px);
  }
}