main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FDFAF6;
}
@media (min-width: 600px) {
  .firstSection img {
    margin-left: clamp(5rem, calc(5rem + 1vw), 110rem);
  }

  .bottomParagraph p {
    text-align: left;
  }
}