main {
  width: 100%;
  min-height: 100vh; 
  scroll-behavior: smooth;
}

/* INFO: First section styling starts here 👇 */
.firstSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSection .bgImg {
  height: clamp(190px, 40vw, 790px);
  width: clamp(15rem, 90vw, 100rem);
  border-radius: clamp(10px, 10vw, 50px);
  background-image: url("https://cdn.jsdelivr.net/gh/Kshitiz-kothari31/Adven_Tour_img-videos@main/Images/Bungee%20Jumping/heroImage_02.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: clamp(1rem, 2vw, 3rem);
  padding-bottom: clamp(0.5rem, 3vw, 5rem);
  padding-right: clamp(1rem, 11vw, 20rem);
  padding-left: clamp(1rem, 11vw, 20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.625rem;
  font-size: clamp(
    0.625rem,
    0.40441176470588236rem + 1.1764705882352942vw,
    1.875rem
  );
}
/* INFO: First section styling ends here ☝️ */

/* INFO: Second section code starts here 👇 */
.secondSection {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.secondSection h2 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9375rem;
  font-size: clamp(
    0.9375rem,
    0.661764705882353rem + 1.4705882352941175vw,
    2.5rem
  );
  width: clamp(40%, 80vw, 85%);
}

.secondSection p {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.5514705882352942rem + 1.0588235294117647vw,
    1.875rem
  );
  margin-top: 20px;
  width: 65%;
}
/* INFO: Second section code ends here ☝️ */


/* INFO: Third Section styling starts here 👇 */
.thirdSection {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.thirdSection .top {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 10vw, 80px);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.thirdSection .top h2 {
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    1.0294117647058822rem + 1.1764705882352942vw,
    2.5rem
  );
}

.thirdSection .top p {
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.5514705882352942rem + 1.0588235294117647vw,
    1.875rem
  );
}

.thirdSection .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  gap: 1rem;
  padding-left: 1rem;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thirdSection .bottom::-webkit-scrollbar {
  display: none;
}

.thirdSection .bottom .card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(290px, 50vw, 400px);
  padding: 1rem;
  border-radius: 20px;
  background-color: #023b66;
  color: white;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(0.9375rem, 0.772rem + 0.882vw, 1.875rem);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
}

.card .Divcontent {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 92%;
  text-align: left;
}

.card .Divcontent button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: clamp(50px, 10vw, 60px);
  height: clamp(25px, 8vw, 40px);
  font-size: clamp(0.8125rem, 0.735rem + 0.412vw, 1.25rem);
  background-color: #f47302;
  border-radius: clamp(8px, 2vw, 15px);
}

.card .Divcontent button:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.card h3 {
  padding: 1rem 0;
  text-decoration: underline;
  font-size: clamp(1.25rem, 1.14rem + 0.588vw, 1.875rem);
}

.thirdSection .bottom .card .img1,
.thirdSection .bottom .card .img2,
.thirdSection .bottom .card .img3 {
  display: block;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thirdSection .bottom .card .img1,
.thirdSection .bottom .card .img3 {
  background-image: url("../../assets/images/bungeeJumping/DEVPRAYAGJAL-396.jpg");
  clip-path: url(#clip-shape);
  -webkit-clip-path: url(#clip-shape);
  width: clamp(241px, 40vw, 320px);
  height: clamp(149px, 35vw, 250px);
}

.thirdSection .bottom .card .img2 {
  background-image: url("../../assets/images/bungeeJumping/DEVPRAYAGJAL-396.jpg");
  clip-path: url(#clip-shape2);
  -webkit-clip-path: url(#clip-shape2);
  width: clamp(241px, 40vw, 320px);
  height: clamp(149px, 35vw, 250px);
}

/* INFO: Third Section styling ends here ☝️ */

@media (min-width: 993px) {
  .thirdSection .top {
    gap: clamp(80px, 15vw, 600px);
  }

  /* INFO: Third section styling starts here 👇 */

  .thirdSection .bottom {
    justify-content: center;
    scroll-padding-left: 0;
    overflow-x: hidden;
    margin-top: clamp(2rem, 5vw, 4rem);
    gap: clamp(2rem, 3vw, 8rem);
  }

  .thirdSection .bottom .card {
    width: clamp(220px, 25vw, 380px);
    height: clamp(260px, 25vw, 420px);
    border-radius: clamp(20px, 8vw, 40px);
    font-size: 0.8125rem;
    font-size: clamp(
      0.8125rem,
      0.7352941176470589rem + 0.41176470588235287vw,
      1.25rem
    );
  }

  .card .Divcontent button {
    width: clamp(15px, 4vw, 80px);
    height: clamp(10px, 3vw, 40px);
    font-size: 0.625rem;
    font-size: clamp(
      0.625rem,
      0.0086891757696127rem + 0.9930486593843099vw,
      1.25rem
    );
    border-radius: clamp(8px, 1vw, 15px);
  }

  .card h3 {
    font-size: 0.9375rem;
    font-size: clamp(
      0.9375rem,
      0.6293445878848063rem + 0.49652432969215493vw,
      1.25rem
    );
  }

  .bottom .hrLine {
    height: 150px;
    width: 1px;
    background-color: #f47302;
  }

  .thirdSection .bottom .card .img1,
  .thirdSection .bottom .card .img3 {
    width: clamp(200px, 20vw, 320px);
    height: clamp(120px, 12vw, 250px);
  }

  .thirdSection .bottom .card .img2 {
    width: clamp(200px, 20vw, 320px);
    height: clamp(120px, 12vw, 250px);
  }
  /* INFO: Third section styling ends here ☝️ */

  /* INFO: Fouth section styling starts here 👇 */
  /* INFO: Fourth section styling starts here 👇 */


  /* INFO: Fouth section styling ends here ☝️ */
}

@media (min-width: 1200px){
  
  /* INFO: Fourth section styling starts here 👇 */
  .fouthSection .mainDiv {
    justify-content: center;
    gap: 0rem;
    margin-top: 1rem;
    padding-left: clamp(2rem, 10vw, 15rem);
    padding-right: clamp(2rem, 10vw, 15rem);
  }

  .fouthSection .mainDiv .videoCard {
    width: clamp(250px, 20vw, 330px);
    height: clamp(250px, 30vw, 550px);
    flex-shrink: 0; /* Prevent cards from shrinking */
    margin: 1rem;
    position: relative;
    border-radius: 20px;
  }
  /* INFO: Fourth section styling ends here ☝️ */

}